@media only screen and (max-width:570px) {
    .container {
        width: 330px;
        height: 580px;
    }
    .left {
        float: none;
        width: 100%;
        height: 220px;
    }
    .left img {
        object-position: 0px -105px;
        min-width: 330px;
    }
    .right {
        float: none;
        margin: 0;
        width: 100%;
    }
    .text {
        margin-top: 10px;
    }
    .title {
        margin-top: 5px;
        margin-bottom: 0;
    }
    .btn {
        width: 280px;
        height: 45px;
    }
}